[general]
aligner = bwa
primers_trimmer = ivar
temp_prefix = /cluster/scratch/bs-pangolin/pangolin/temp
tsvbased=1
id_separator=/


[input]
samples_file = samples.tsv
#samples_file = samples.wastewateronly.tsv
fastq_suffix =
reference = references/NC_045512.2.fasta
metainfo_file = references/metainfo.yaml
genes_gff=references/gffs/Genes_NC_045512.2.GFF3
gff_directory = references/gffs/
primers_file = references/primers/v3/nCoV-2019.tsv
primers_bedfile = references/primers/v3/nCoV-2019.primer.bed
protocols_file = references/primers.yaml

[output]
datadir = samples
cohortdir = ../variants
trim_primers = True
snv = True
local = True
global = False
visualization = True
QA = True
dehumanized_raw_reads = True
upload = True


[preprocessing]
mem=4096
time=180
####time=3000

#
# Group: align
#

[sam2bam]
mem=5000

[ref_bwa_index]
mem=2000

[bwa_align]
#mem=2048
#mem=3072
mem=18432
threads=6
# linear scale breaks at 8~16 (See: https://www.researchgate.net/figure/Performance-of-Multi-Threading-CPU-time-and-walltime-usage-of-BWA-Mem-and-GATK_fig3_275950273)
#  2: 2739, 4: 5012, 6: 6045, 8: 6404 /8995


[hmm_align]
leave_msa_temp = true


[primerstrim]
mem=3072


[consensus_sequences]
#conda=/cluster/project/pangolin/test/smallgenomeutilities.yaml

[frameshift_deletions_checks]
#conda=/cluster/project/pangolin/test/smallgenomeutilities.yaml
mem=8192

[basecounts]
time=180
####time=2400
#conda=/cluster/project/pangolin/test/smallgenomeutilities.yaml

[coverage]
#conda=/cluster/project/pangolin/test/smallgenomeutilities.yaml
#mem=4096
#mem=256
mem=131072
threads=32
#threads=64
time=60
####time=600

[minor_variants]
#mem=256
mem=16384
threads=64


[upload]
consensus=majority
options=-R

#
# Group: dehuman
#

[dehuman]
#mem=5120
mem=40960
threads=8
time=180
####time=1080
####time=10800
ref_host = /cluster/project/igenomes/Homo_sapiens/NCBI/GRCh38/Sequence/BWAIndex/genome.fa
keep_host = true
catchup = false




#
# Group: SNV
#

[web_visualization]
mem=2000

[coverage_intervals]
#conda=/cluster/project/pangolin/test/smallgenomeutilities.yaml
coverage=0
mem=2000
threads=1

[lofreq]
consensus=false
time=180
####time=2880
####time=28800
mem=10000


[snv]
consensus=false
#conda=/cluster/work/bewi/pangolin/test/shorah2.yaml
localscratch=$TMPDIR
### NOTE the next three parameters are going to be overridden by YAML
# as follows:	time	meme	threads
# - normal:	240	1024	64
# - hugemem:	1200	32768	63
time=180
####time=2400
#mem=1024
mem=65536
threads=64


#
# Divert to our local versions
#

[applications]
#aln2basecnt=PYTHONPATH=/cluster/project/pangolin/test/smallgenomeutilities/ /cluster/project/pangolin/test/smallgenomeutilities/scripts/aln2basecnt
#extract_coverage_intervals=PYTHONPATH=/cluster/project/pangolin/test/smallgenomeutilities/ /cluster/project/pangolin/test/smallgenomeutilities/scripts/extract_coverage_intervals
#extract_consensus=PYTHONPATH=/cluster/project/pangolin/test/smallgenomeutilities/ /cluster/project/pangolin/test/smallgenomeutilities/scripts/extract_consensus
#frameshift_deletions_checks=PYTHONPATH=/cluster/project/pangolin/test/smallgenomeutilities/ /cluster/project/pangolin/test/smallgenomeutilities/scripts/frameshift_deletions_checks
#gather_coverage=PYTHONPATH=/cluster/project/pangolin/test/smallgenomeutilities/ /cluster/project/pangolin/test/smallgenomeutilities/scripts/gather_coverage
#shorah=/cluster/work/bewi/pangolin/shorah-test/test/shorah-wrap shotgun -t 64
